{% extends "bootstrap/base.html" %}
{% block title %}Weather app{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
    	<div class="col-md-4 col-md-offset-4">
		    <h1>Ithaca</h1>
		    <p class="small">{{ time }}</p>
		    <img src="{{ icon }}" />
		    <p>{{ temperature }}</p>
		    <button class="btn btn-primary" onclick="myFunction()">Reload page</button>
	    </div>
    </div>
</div>

<script>
function myFunction() {
    location.reload();
}
</script>
{% endblock %}